 .awesome{
     padding-top: 100px;
     padding-bottom: 109px;
 }

 .container{
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
}

.section-title{
    text-transform: uppercase;
    text-align: center;    
    font-family: Raleway, sans-serif;
    font-size: 36px;
    line-height: 42px;
    font-weight: 400;
    color: #212121;
}

.section-title::after{
    content: "";
    display: block;
    border-top: 2px solid #D98943;
    width: 64px;
    height: 100%;
    top: 0;
    left: 0;
    margin: 25px auto 30px;
 }

.description{
    text-align: center;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    color: #86878B;
}
 
.awesome-second-wrapper{
    display: flex; 
    margin: 0 -15px;
    justify-content: center;
    margin-top: 67px;
}

.advantages{
    margin: 0 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.icon-circle{
    width: 70px;
    height: 70px;
    display: flex;
    border: 1px solid #D98943;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 30px;
}

.advantages-icon{
    color: #D98943;
    font-family: "Font awesome 5 Free";
    font-size: 28px;
    font-weight: 700;
}

.advantages-title{
    margin-bottom: 16px;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
}

.advantages-text{
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}