.design{
    background-image: url("/img/bg/background_design.png");
    background-repeat: no-repeat;
    background-size: cover;  
    position: relative;
}

.container{
    position: relative;
}

.wrapper-design{
padding-top: 58px;
padding-bottom: 38px;  
}

.design::before{
    content: "";
    background-color: rgba(0, 0, 0, 0.55);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.title-design{
    font-family: Raleway;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
}

.title-design::after{
    content: "";
    display: block;
    border-top: 2px solid #FFFFFF;
    width: 64px;
    height: 100%;
    top: 0;
    left: 0;
    margin: 34px auto 34px;
 }

.description-design{ 
    padding-bottom: 57px; 
    font-family: Raleway;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
}

.button{
   text-align: center;
}

.button-download{
    display: inline-block;
    text-transform: uppercase;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    padding: 11px 26px;
}