.header{
    padding-top: 20px;
    padding-bottom: 19px;
    background-color: black;
}

.header-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between; 
        align-items: center;
}

.logo {
    height: 31px;
    width: 68px; 
    justify-content: center;
}

.menu{
    display: flex;
    flex-direction: row;
}

.menu-item{
    margin-left: 48px;
    text-transform: capitalize;
    font-family: Open Sans, sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.7);
    
    position: relative;
}

.menu-item:first-child{
    margin-left: 0;
}

.menu-item::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
    left: 0;
    bottom: -2px;
    transition: 0.5s;
    transform: scale(0);
    transform-origin: left;
}

.menu-item:hover::before{
    transform: scale(1);
}