@import url("/css/awesome.css");
@import url("/css/pricing.css");
@import url("/css/customers.css");
@import url("/css/design.css");


* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none; 
}